<section class="container py-4">
  <h1 class="mb-3">Cadastro de Usuário</h1>

  <form [formGroup]="form" (ngSubmit)="adicionarUsuario()" class="card p-3 mb-4">

    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" formControlName="nome">
      <small *ngIf="form.get('nome')?.invalid && form.get('nome')?.touched" class="text-danger">
        Nome é obrigatório
      </small>
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email">
      <small *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
        Email válido é obrigatório
      </small>
    </div>

    <div class="mb-3">
      <label class="form-label">Senha</label>
      <input type="password" class="form-control" formControlName="senha">
      <small *ngIf="form.get('senha')?.invalid && form.get('senha')?.touched" class="text-danger">
        Senha é obrigatória
      </small>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Cadastrar
    </button>
  </form>
</section>